
body{
    background-color: white;
}

img{
    position: relative;
   left: 0;
   right: 44%;

}

/* nav{ */

    /* position: absolute; */
    /* top: 15%; */
    /* left: 39%; */
    /* width: 10px; */
    /* height: 10%; */
    /* display: flex; */
    /* justify-content: flex-start; */
    /* font-size: 25px; */
    /* padding:20px; */
    /* gap: 10px;--> */
    
/* } */
@media screen and (max-width: 768px) {
    img{
        top:-10%;
        right:40%;
        width: 80%;
        height: 80%;
    }
    nav{
        top: 15%;
        left: 30%;
    }
    nav {
        font-size: 20px;
    }
    
}
.contact-form button:hover {
    background-color: #0056b3;
    color:grey;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#ft{
    
    position: absolute;
    display: flex;
    top: 80%;
    width: 99%;
    height: 10%;
   justify-content: center;
   font: size 25px;
}

.master{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.container{
    background-color: rgb(95, 87, 87);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
}


p{
    text-align: center;
}
#social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 30px;
}
input{
    width: 10%;
    padding: 10px;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 8px;
    top: 50%;
}


 #ft{
    color:black;
   position: absolute;
   display: flex;
    top: 115%;
    width: 100%;
    height: 10%;
    justify-content: center;
  text-align: center;
    font-size: 25px;
 }
 
nav a{
    text-decoration: none;
    color: black;
}
#b{
    position: absolute;
    left: 90%;
    top:95%;

}
#tel{
    position: absolute;
    right: 70%;
    top:75%;
}
.header {
    margin-top: -50px;
}

.header nav {
       display: flex;
       justify-content: space-between;
         align-items: center;
         gap: 30px;
         margin-top: -50px;
}
.header nav a {
    font-family:  monospace;
    font-size: 20px;
    color: black;
}
.header nav a:hover {
    color: white;
    text-decoration: overline;
}
.header nav a.active {
    color: blue;
}
.header nav img {
    width: 50px;
    height: 50px;
}

/* form style */

#container3{
  
    width: 50%;
    height: 50%;
    background-color:red;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 50px 30px;
    margin-left: 400px;
    margin-top: -50px;
    border-radius: 50px;
    margin-bottom: 100px;
   
}
    
#container3 .input-data {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 100%;
}

#container3 .input-data input {
    width: 70%;
    padding: 10px 2px;
    border-radius: 8px;
    font-size: 16px;
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
p{
    text-align: center;
    color: rgb(0, 0, 0);
    margin-bottom: 150px;
}

  .button a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    margin-top: 40px;
    margin-left: 250px;
}
/* footer  css */
footer {display: flex;gap: 800px;display: inline-flex;}