/* contact css */




/* footer  css */
footer {
            background-color: white;
            padding: 20px;
            margin: 0 10px;
            footer {display: flex;gap: 800px;display: inline-flex;}
        }